.MuiCard-root {
  margin: 2rem auto;
  min-width: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.city-name {
  margin-bottom: 1rem;
  text-align: center;
}

.temperature {
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.feels-like,
.min-max-temp,
.humidity,
.weather-description {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem !important;
}

.min-max-temp {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.min-max-temp span {
  font-size: 1rem !important;
}
